# [Required] Discord Bot Token
# 若未填寫，程式會自動結束
TOKEN = 

# [Optional] 管理員密碼 (int)
# 用於 load, unload, reload 指令
# 若未填寫，會自動禁用這三個指令
PASSWORD = 

# [Optional] 管理員的 Discord ID
# 使用者私訊 (DM) VeryUsefulBot 時，會將訊息轉送管理員
# 若未填寫，會自動關閉該功能
ADMIN_DCID = 

# [Optional] 你的 Email
# 用於 OSRM API
# 若未填寫，會關閉 locations.py 的所有功能
EMAIL = 

# [Optional] 你的網址
# 用於取得地點網頁
# 若未填寫，取得地點網頁將為在 localhost:8080 開啟
WEBPAGE_URL = 

# [Optional] Cloudflare Tunnel Token
# 把網頁透過 Cloudflare Tunnel 連出去
# 若未填寫，取得地點網頁將為在 localhost:8080 開啟
CLOUDFLARE_TUNNEL_TOKEN = 